<%- include('../partials/header') %>
<body>
    <h1>Skills as of <%= time %> <%= Date %></h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          <%= s.id %>
            - 
          <%= s.skill %>
            -
          <%= s.expertise %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add new Skill</a>
</body>
</html>
