<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> <%= title %> </title>
</head>
<body>
    <h1>Skills as of <%= time %> <%= Date %></h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          <%= s.id %>
            - 
          <%= s.skill %>
            -
          <%= s.expertise %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add new Skill</a>
</body>
</html>
