<%- include('../partials/header') %>
<body>
    <h3><%= skill.skill %></h3>
    Skill ID: <%= skill.id %>
    <br>
    Skill Name:  <%= skill.skill %>
    <br>
    Skill Expertise: <%= skill.expertise %>
    <br>
    <br>
    <form action="/skills/<%= skill.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">DELETE Skill: <%=skill.skill%></button>
    </form>
    <br><br>
    <!-- <a href="/skills/<%= skill.id %>/edit">Edit Skill: <%=skill.skill%></a> -->
    <form action="/skills/<%= skill.id %>/edit">
        <input type="submit" value="Edit Skill: <%=skill.skill%>" />
    </form> 
    <br><br>
    <a href="/skills">Back to Skills List</a>
</body>
</html>